.video__iframes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    margin: 0%;
    padding-top: 50px;
    padding-left: 0%;
  }