.video {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: block;
    background-image: linear-gradient(to bottom, white 428.4px, #f2f2f2 160px);
  }